<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{{ url_for('static',filename='js/home.js') }}"></script>
  <title>Calcy</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('welcome')}}">Calcy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ url_for('welcome')}}">App</a>
        <a class="nav-item nav-link" href="{{ url_for('report')}}">Report</a>
        <a class="nav-item nav-link" href="http://167.99.26.142:3000" target="_blank">API Docs</a>
        <a class="nav-item nav-link" href="https://gitlab.com/aliasgarlabs/calcy">GitLab</a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/aliasgarmurtaza/" target="_blank">Contact</a>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <h1>Calcy</h1>
    <br>
    <div class="row">
      <div class="col-sm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Number 1</span>
          </div>
          <input id="x" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div id="ydiv" class="col-sm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Number 2</span>
          </div>
          <input id="y" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group">
          <select onchange="onOperationChange()" class="custom-select" id="operation" aria-label="Example select with button addon">
            <option value="0" selected>Operation...</option>
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
            <option value="squareroot">Square root</option>
            <option value="cuberoot">Cube root</option>
            <option value="power">Power</option>
            <option value="factorial">Factorial</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="validate()">Calcy!</button>

          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="warn" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
      <strong>Holy guacamole!</strong>
      <p id="error">You should check in on some of those fields below.</p>
      <button type="button" class="close" onclick="toggleWarning(false)" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br>
    <h1 id="result" class="display-4"></h1>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>